h2 {
    font-size: x-large;
    font-family: cursive;
}


.skillscontainer p {
    font-family: cursive;
    color: black;
    font-size: large;
    font-weight: bolder;
    
}

a {
    color: rgb(6, 127, 183);
    font-size: larger;
    font-family: cursive;
}