.nav {
    background-color: #EDE0D4;
    margin-top: 0;
    padding: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: center;

    

}

.nav li {
list-style: none;
font-size: 2em;
color: turquoise;

}

